
<html>
  <head>
    <title>WebGL Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--<script src="/js/sylvester.js" type="text/javascript"></script>
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/glUtils.js" type="text/javascript"></script>-->
    <script src="/js/fastest.js" type="text/javascript"></script>
    <!-- Fragment shader program -->
  </head>

  <body onload="gl_load()">
    <canvas id="glcanvas" width="640" height="480">
      Your browser doesn't appear to support the HTML5 <code>&lt;canvas&gt;</code> element.
    </canvas>
  </body>
</html>
